### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_pymoli)
purchase_data_df.head()
#purchase_data_df["SN"].head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data_df["SN"])
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
totalUnique_item = len(purchase_data_df["Item Name"].unique())
#totalUnique_item
avgPrice = purchase_data_df["Price"].mean()
#avgPrice
number_Purchases = len(purchase_data_df)
#number_Purchases
revenue_total = purchase_data_df["Price"].sum()
#revenue_total
summary = [{"Total Unique Items":totalUnique_item, "Average Price":float(avgPrice),"Total Number of Purchases": number_Purchases,"Total Revenue":revenue_total}]
#summary
summary_info_df = pd.DataFrame(summary)

# Cleaner formatting
summary_info_df = summary_info_df.set_index("Total Unique Items")
summary_info_df ["Average Price"] = summary_info_df["Average Price"].map("${:.2f}".format)
summary_info_df ["Total Revenue"] = summary_info_df["Total Revenue"].map("${:,.2f}".format)
summary_info_df

                   Average Price  Total Number of Purchases Total Revenue
Total Unique Items
179                        $3.05                        780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#gender = len(purchase_data_df["Gender"])

totalGen = purchase_data_df["Gender"].value_counts()

genderM = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
totalM = genderM["Gender"].value_counts()
percentM = totalM / player_count * 100


genderF = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
totalF = genderF["Gender"].value_counts()
percentF = totalF / player_count * 100

genderO = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
totalO = genderO["Gender"].value_counts()
percentO = totalO / player_count * 100
     
# percentO
# totalGen
# genderM
# totalM

gender_demo_df = pd.DataFrame ([{"Gender":"Male","Total Count":int(totalM),"Percentage of Players": float(percentM)},{"Gender":"Female","Total Count":int(totalF),"Percentage of Players": float(percentF)},{"Gender":"Other / Non-Disclosed","Total Count":int(totalO),"Percentage of Players": float(percentO)}])

#Cleaner formatting
format_gender_demo_df = gender_demo_df.set_index("Gender")
format_gender_demo_df ["Percentage of Players"] = format_gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
format_gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

# Extract the following columns:
purchase_analysis_df = purchase_data_df[["Gender","Purchase ID","Price"]]
purchase_analysis_df.head(20)

group_purchase_data_df = purchase_analysis_df.groupby(["Gender"])
purchase_count = group_purchase_data_df["Purchase ID"].count()
purchase_count

# Calculate the average purchase price for each gender.
gender_avgPP = group_purchase_data_df["Price"].mean()
gender_avgPP

# Calculate the total purchase price for each gender.
total_gender_pp = group_purchase_data_df["Price"].sum()
total_gender_pp 

# # # Calculate the avg total purchase price per person.
avg_total_pp = total_gender_pp/purchase_count
avg_total_pp

# Display results in summary DataFrame
gender_purchase_analysis_df = pd.DataFrame ({"Purchase Count":purchase_count,"Average Purchase Price":gender_avgPP,"Total Purchase Value": total_gender_pp,"Avg Total Purchase per Person":avg_total_pp})
gender_purchase_analysis_df

# Cleaner Formatting
gender_purchase_analysis_df ["Average Purchase Price"] = gender_purchase_analysis_df ["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_analysis_df ["Total Purchase Value"] = gender_purchase_analysis_df ["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_analysis_df ["Avg Total Purchase per Person"] = gender_purchase_analysis_df ["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_data = purchase_data_df[["Age", "SN"]]
age_data_df = age_data.sort_values("Age")
age_data_df

# #Establish bins for ages
age_bins = [0,9,14,19,24,29,34,39,60]

# # Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# # Categorize the existing players using the age bins. Hint: use pd.cut()
age_data_df["Age Range"] = pd.cut(age_data_df["Age"], age_bins, labels = group_names)
age_data_df

# Group the number of players by age range
group_age_data_df = age_data_df.groupby(["Age Range"])
group_age_data_df

# Calculate the total number of players by age range 
age_count = group_age_data_df["Age Range"].count()
age_count

# Calculate the percentage
player_percent = round(age_count / player_count * 100,2)
player_percent

# Create a summary data frame to hold the results
age_demo_df = pd.DataFrame ({"Total Count": age_count,"Percentage of Players":player_percent})
age_demo_df

# Cleaner formatting
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:,.2f}%".format)
age_demo_df

           Total Count Percentage of Players
Age Range
<10                 23                 2.95%
10-14               28                 3.59%
15-19              136                17.44%
20-24              365                46.79%
25-29              101                12.95%
30-34               73                 9.36%
35-39               41                 5.26%
40+                 13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Puchase Analysis (Age)
age_purchase_df = purchase_data_df.loc[:,["Age","SN", "Price"]]
age_purchase_df

# Bin pruchase_data data frame by age
ageR_bins = [0,9,14,19,24,29,34,39,100]

# Create the names for the bins
ageR_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_purchase_df["Age Ranges"] = pd.cut(age_data_df["Age"], ageR_bins, labels = ageR_names)
age_purchase_df

# Group the number of purchases by age ranges
group_age_purchase_df = age_purchase_df.groupby(["Age Ranges"])
group_age_purchase_df

# Calculate Purchase count
purchase_count = group_age_data_df["Age Range"].count()
purchase_count

# Total Purchase Value
age_totalP = group_age_purchase_df["Price"].sum()
age_totalP

# Average Purchase Price
avg_purchase_price = group_age_purchase_df["Price"].mean()
avg_purchase_price

# Average Total Purchase per Person - THIS NEEDS TO BE COMPLETED
avg_total_perP = round(age_totalP/player_count,2)
avg_total_perP

# Create a summary data frame to hold the results
age_purchase_df = pd.DataFrame ({"Purchase Count": purchase_count,"Average Purchase Price":avg_purchase_price,"Total Purchase Value": age_totalP,"Avg Total Purchase per Person":avg_total_perP})
age_purchase_df

# Cleaner Formatting
age_purchase_df["Average Purchase Price"] = age_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
age_purchase_df["Total Purchase Value"] = age_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_df["Avg Total Purchase per Person"] = age_purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$0.10
10-14,28,$2.96,$82.78,$0.11
15-19,136,$3.04,$412.89,$0.53
20-24,365,$3.05,"$1,114.06",$1.43
25-29,101,$2.90,$293.00,$0.38
30-34,73,$2.93,$214.00,$0.27
35-39,41,$3.60,$147.67,$0.19
40+,13,$2.94,$38.24,$0.05

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders = purchase_data_df.groupby("SN")

# Calculate Purchase Count
topSpenders_count = top_spenders["Purchase ID"].count()
# topSpenders_count.tail(50)

# Calculate Average Purchase Price - sort the total in descending order -.sort_values, ascending = False
avg_topS_purchase = top_spenders["Price"].mean()
# sorted_avg_topS_purchase =avg_topS_purchase

# Calculate Total Purchase Value
topS_total_purchV = top_spenders["Price"].sum()
topS_total_purchV

# Create a summary data frame to hold the results
top_spenders = pd.DataFrame ({"Purchase Count": topSpenders_count,"Average Purchase Price":avg_topS_purchase,"Total Purchase Value": topS_total_purchV})
top_spenders

# Sort the values to display in descending order and format results
sort_top_spenders = top_spenders.sort_values (["Total Purchase Value"], ascending = False)
sort_top_spenders ["Average Purchase Price"] = sort_top_spenders ["Average Purchase Price"].map("${:.2f}".format)
sort_top_spenders ["Total Purchase Value"] = sort_top_spenders ["Total Purchase Value"].map("${:.2f}".format)
sort_top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve the Item ID, Item Name, and Item Price columns
most_popular = purchase_data_df.loc[:,["Item ID","Item Name", "Price"]]
most_popular

# Group by Item ID and Item Name. 
most_popular = most_popular.groupby(["Item ID","Item Name"])

# Calculate Purchase Count
item_purchase_count = most_popular["Price"].count()
item_purchase_count

# Calculate Item Price
item_price = most_popular["Price"].sum()  
item_price

# Calculate Total Purchase Value
item_total_purchV = item_price/item_purchase_count
item_total_purchV

# Create a summary data frame to hold the results
most_popular_items = pd.DataFrame ({"Purchase Count": item_purchase_count,"Item Price": item_total_purchV,"Total Purchase Value":item_price })
most_popular_items.head()

# Sort the purchase count to display in descending order and format results
sort_most_popular_items = most_popular_items.sort_values (["Purchase Count"], ascending = False)
sort_most_popular_items ["Item Price"] = sort_most_popular_items ["Item Price"].map("${:.2f}".format)
sort_most_popular_items ["Total Purchase Value"] = sort_most_popular_items ["Total Purchase Value"].map("${:.2f}".format)
sort_most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
# Sort the total purchase to display in descending order and format results
# sort_most_popular_items.dtypes

# sort_most_popular_items.dtypes ** Total Purchase Value = object
sort_most_popular_items["Total Purchase Value"] = sort_most_popular_items["Total Purchase Value"].replace('$','', regex = True).astype(float)
sorted_most_popular_items = sort_most_popular_items.sort_values (["Total Purchase Value"], ascending = False)
# sorted_most_popular_items

# Add formatting back to the Total Purchase Value and Item Price
sorted_most_popular_items = sorted_most_popular_items["Total Purchase Value"].map("${:.2f}".format)
sorted_most_popular_items

Item ID  Item Name
92       Final Critic                                    $59.99
178      Oathbreaker, Last Hope of the Breaking Storm    $50.76
82       Nirvana                                         $44.10
145      Fiery Glass Crusader                            $41.22
103      Singed Scalpel                                  $34.80
                                                          ...
28       Flux, Destroyer of Due Diligence                 $2.12
126      Exiled Mithril Longsword                         $2.00
125      Whistling Mithril Warblade                       $2.00
104      Gladiator's Glaive                               $1.93
42       The Decapitator                                  $1.75
Name: Total Purchase Value, Length: 179, dtype: object